<div class="toast-wrapper">
    <div class="toast mx-auto my-1 fade hide" id="sync-countdown-results-toast" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Syncing local changes with server</strong>
            <small>Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Please wait - we will try to sync your data with server.
        </div>
    </div>
    <div class="toast mx-auto my-1 fade hide" id="sync-countdown-results-toast-success" role="alert"
         aria-live="assertive"
         aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Successfully synced data with server</strong>
            <small>Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            You can sleep safe - we've just synced local data with server.
        </div>
    </div>
    <div class="toast mx-auto my-1 fade hide" id="sync-countdown-results-toast-failure" role="alert"
         aria-live="assertive"
         aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Something went wrong</strong>
            <small>Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Sorry but something went wrong. Please try sync again later.
        </div>
    </div>
    <div class="toast mx-auto my-1 fade hide" id="sync-countdown-results-toast-no-data-to-sync" role="alert"
         aria-live="assertive"
         aria-atomic="true">
        <div class="toast-header">
            <!--<img src="..." class="rounded me-2" alt="..."> -->
            <strong class="me-auto">No data to sync</strong>
            <small>Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            There is no local data to sync. If you go to offline mode and add some activity - you can sync
            all data when you will go back online.
        </div>
    </div>
</div>
