{% extends 'base.html' %}
{% set active_page = 'password-reset' %}
{% from 'contact-us/_error_messages.html' import field_error_messages %}



{% block title %}Password reset{% endblock %}
{% block content %}

    <main class="d-flex flex-column justify-content-center align-items-center">

        {% include '_flash-messages.html' %}

        <div class="custom-container shadow" id="password-reset-container">
            <div class="container-data-wrapper" id="password-reset-wrapper">
                <h2>Password reset</h2>
                <p class="initial-font-size">We will help you get to Your account. Put below your
                email address and submit the form. After that - check your inbox.</p>
                <form id="password-reset-form" class="text-align-start custom-form" method="POST"
                      action="{{ url_for('auth.password_reset') }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group custom-form-group">
                        {{ form.email.label(class='form-label') }}
                        {{ form.email(class='form-control', placeholder="e.g. john@domain.com") }}
                        {{ field_error_messages(form.email) }}
                    </div>
                    <hr>
                    <button class="btn form-submit-btn" id="form-submit-btn">Send reset link
                    </button>
                </form>
            </div>
        </div>
    </main>


{% endblock %}



{% block scripts %}
    <script src="{{ url_for('static', filename='js/models.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/tools.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/password-reset.js') }}" type="text/javascript"></script>
{% endblock %}