<!-- Add activity description modal start -->
<div class="modal fade" id="add-countdown-result-description-modal" tabindex="-1"
     aria-labelledby="add-countdown-result-description-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-countdown-result-description-modal-label">Add activity description</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group custom-form-group">
                    <label for="add-countdown-result-description-modal-input" class="form-label">Enter below new
                        activitiy description</label>
                    <input minlength="0" maxlength="50" type="text" class="form-control" id="add-countdown-result-description-modal-input">
                    <small>Number of signs:
                        <span id="add-countdown-result-description-modal-input-actual">0</span>
                        /100
                    </small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary opacity-80" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn custom-btn-warning" id="add-countdown-result-description-modal-submit"
                        data-bs-dismiss="modal">Save
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Add activity description modal stop -->