<!-- Remove countdown results modal start -->
<div class="modal fade" id="remove-countdown-results-modal" tabindex="-1" aria-labelledby="remove-countdown-results-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="remove-countdown-results-modal-label">Delete countdown results</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to delete all countdown results?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary opacity-80" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn custom-btn-warning" id="remove-countdown-results-modal-submit" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Remove countdown results modal stop -->