<div class="custom-container shadow" id="why-timely">
    <div class="container-data-wrapper" id="why-timely-wrapper">
        <h3>Why Timely?</h3>

        <article class="custom-app-description-entry">
            <p>Timely helps you focus. <strong>In a better way.</strong>
                We know that you are busy. Want to concentrate on something for a while. Just use Timely to count time
                down.</p>
            <img alt="Woman sitting in front of computer." class="img-fluid rounded-2"
                 src="{{ url_for('static', filename='images/home/home-1.jpg') }}">
        </article>
        <article class="custom-app-description-entry">
            <p>Want to take a break for a book? Set the time to given amount of time
            and start reading - we will handle the time counting <strong>for you.</strong></p>
            <img alt="Crop faceless woman reading book on a bed." class="img-fluid rounded-2"
                 src="{{ url_for('static', filename='images/home/home-2.jpg') }}">
        </article>
        <article class="custom-app-description-entry">
            <p><strong>Or maybe it's time to catch a nap?</strong> No worries - our team also is doing the same. Set the Timely and sleep well.</p>
            <img alt="Crop faceless woman reading book on a bed." class="img-fluid rounded-2"
                 src="{{ url_for('static', filename='images/home/home-3.jpg') }}">
        </article>

    </div>
</div>